body {
    display: flex;
    flex-direction: column;
}

#image {
    width: 500px;
    height: 500px;
}

#playpause {
    margin-top: 10px;
    width: 100px;
    height: 25px;
}

body div {
    margin-top: 10px;
}
