.menu {
	float: left;
	margin-left: 0px;
}

.popups {
	display: none;
	padding: 0px;
	position: absolute;
	z-index: 1;
}

.popup {
	padding: 10px;

}

.popup:hover {
	background-color: grey;
	/***/
	font-weight: bold;
	color: white;
}

.option {
	display: block;
	position: static;
}

.option:hover .popups {
	display: block;
	/*float: right;*/
	margin-left: 195px;
	/*transform: translateX(100%);*/
	transform: translateY(-20%);
	/*text-align: right;*/
	background-color: lightblue;
}

.header {
	position: relative;
	width: 175px;
	background-color: aquamarine;
	padding: 10px;
}

.header:hover {
	background-color: grey;
}